.admin-config-container {
  width: 100%;
  height: 100dvh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-config-title{
    margin: 0px;
}
