@charset "UTF-8";

/* Fontes: Lato, Beba Neue, Ubuntu, Roboto */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

/*Root*/

:root{
    --background: #272727;
    --div: #0d0d0d4b;
    --footer: #000000;
    --header: #000000;
    --title: #04BFAD;
}
/*Body*/

* {
    margin: auto;
    
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    height: 80px;
    background-color:var(--header);
}

header > img {
    width: 60px;
    padding: 0px 0px 0px 40px;
    margin: 0px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 38px;
    color: white;
}

header > nav {
    margin: 0px;
    justify-content: space-between;
    padding: 40px;
    text-decoration: none;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
    
}

header > nav > a {
    padding: 6px 15px 6px 15px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #04BFAD;
    border-bottom: 1px solid #04BFAD;
}

main {
    display: flex;
    flex-direction: column;
    width: 900px;
    padding: 40px;
    margin-bottom: 36px;
    margin-top: 37px;
    border: 3px solid black;
    background-color: var(--div);
    border-radius: 20px;
    
}

main > h2 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 44px;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px 0px 10px 0px;
    color: white;
    
}

main > p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0px 0px 40px 0px;
    text-align: justify;
    color: white;
}

footer {
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 0px;
    height: 70px;



    background-color: var(--footer);
    color: white;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
}

footer > p:hover{
    color: var(--nav);
    }


    /*RESPONSIVIDADE DA PAGINA*/
    
    @media screen and (max-width: 1050px) {
        main {
            width: 700px;
        }
        
    }
    
    @media screen and (max-width: 850px) {
        main {
            width: 500px;
        }
        
    }
    
    @media screen and (max-width: 650px) {
        main {
            width: 300px;
        }
        
    }
    
    
    @media screen and (max-width: 600px) {
        header > nav {
            display: flex;
            flex-direction: column;
        }
        
    }
    
    @media screen and (max-width: 600px) {
        header > nav > a {
            display: flex;
            flex-direction: column;
            padding: 2px 0px 2px 0px;
        }
        
    }