@charset "UTF-8";

/* Fontes: Lato, Beba Neue, Ubuntu, Roboto */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

/*Root*/

:root{
    --background: #272727;
    --div: #0d0d0d4b;
    --footer: #000000;
    --header: #000000;
    --title: #04BFAD;
}

/*Body*/

* {
    margin: auto; 
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    height: 80px;
    background-color:var(--header);
}


header > img {
    width: 60px;
    padding: 0px 0px 0px 40px;
    margin: 0px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 38px;
    color: white;
}


header > nav {
    margin: 0px;
    justify-content: space-between;
    padding: 40px;
    text-decoration: none;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
}


header > nav > a {
    padding: 6px 15px 6px 15px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}


a:hover {
    color: #04BFAD;
    border-bottom: 1px solid #04BFAD;
}


.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 34px;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    padding: 80px 50px 100px 50px;
    border-radius: 20px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}


.inputs > h1 {
    margin: 0px 0px 20px 0px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 44px;
    color: black;
}


.inputs > .email {
    width: 400px;
    height: 30px;
    margin: 0px 0px 20px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}


.inputs > .text-form {
    width: 400px;
    height: 150px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
    border: 1px solid black;
}


.inputs > button {
    margin: 20px 0px 0px 0px;
    width: 120px;
    height: 30px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: black;
    font-size: 24px;
    font-weight: normal;
    border-radius: 6px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}


.inputs > button:hover{
    background-color: #04BFAD;
}


.container {
    display: flex;
}


.welcome {
    display: block;
    width: 600px;
}


.welcome > h1 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 44px;
    letter-spacing: 1px;
    color: white;
    padding: 10px;
}


.welcome > p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    padding: 10px;
}

footer {
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 0px;
    height: 70px;

    background-color: var(--footer);
    color: white;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
}

footer > p:hover{
    color: var(--nav);
    }

/*Responsividade do site*/

@media screen and (max-width: 1200px) {
    .welcome {
        width: 500px;
    }
    
}

@media screen and (max-width: 1100px) {

    .welcome{
        width: 400px;
    }
    
}

@media screen and (max-width: 1000px) {

    .container {
        flex-direction: column-reverse;
    }

    .welcome{
        width: 600px;
    }
    
}

@media screen and (max-width: 700px) {

    .container {
        flex-direction: column-reverse;
    }

    .welcome{
        width: 400px;
    }
    
}

@media screen and (max-width: 600px) {
    header > nav > a {
        display: flex;
        flex-direction: column;
        padding: 2px 0px 2px 0px;
    }
    
}


@media screen and (max-width: 600px) {

    .inputs > .text-form {
        width: 250px;
    }

    .inputs > .email {
        width: 250px;
    }
}














