@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: linear-gradient(160deg, #0c0d0f, #095155);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.container {
    display: inline;
    width: 65vh;
    height: 70vh;
    border-radius: 20px;
    background-color: #393E46;
    border: 2px solid #00ADB5;
}

img {
    display: inline-block;
    position: relative;
    left: 160px;
    animation-name: gradiente;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}

.input-login {
    position: relative;
    display: flex;
    top: 10px;
    justify-content: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    
    
}

.box-login {
    height: 6vh;
    width: 45vh;
    border-radius: 10px;
    background-color: #00ADB5;
    border: 2px solid #222831;
    text-align: center;
    
}

.box-login::placeholder {
    font-size: 18px;
    color: #222831;
    
    
}


.input-senha {
    position: relative;
    display: flex;
    top: 30px;
    justify-content: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    
}

.box-senha {
    height: 6vh;
    width: 45vh;
    border-radius: 10px;
    background-color: #00ADB5;
    text-align: center;
    border: 2px solid #222831;
}

.box-senha::placeholder {
    font-size: 18px;
    color: #222831;
    
}

    


.password {
    position: relative;
    display: flex;
    justify-content: center;
    top: 40px;
    
}

.link {
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #222831;
    font-size: 14px;
    
}


button {
    position: relative;
    display: inline;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    cursor: pointer;
    left: 135px;
    top: 80px;
    height: 8vh;
    width: 30vh;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid #222831;
    background-color: #00ADB5;
    color: #393E46;
    
}


@keyframes gradiente {
    0% {opacity: 0.4;}

    100% {opacity: 1;}
}
