.ulTasks{
    height: 30vh;
    width: 30vw;
    background-color: rgb(88, 90, 90);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    padding: 20px;
    border-radius: 8px;
}


.liTasks{
    display: flex;
    justify-content: space-between;
    color: aquamarine;
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}

.btn{
    color: rgb(217, 219, 218);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}